p {
    font-family: 'Noto Serif SC', serif;
    color: #2d3236;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    color: rgb(44, 44, 44);
    font-size: 19px;
}

div {
    display: block;
}

li {
    list-style-type: square;
}

a {
    color: #3eaf7c;
}

a:hover {
    border-bottom: 1px solid #3eaf7c;
}

p {
    text-align: left; 
    font-size: 19px;
}

a {
    text-decoration: none;
}
.container {
    max-width: 768px;
    margin: 0 auto;
    margin-top: 64px;
    padding: 8px 16px;
}