body {
    background-color: #fafbfc;
}

h1,
h2,
h3,
p,
.Subhead-heading {
    font-family: "Noto Serif SC", serif;
}

div {
    display: block;
}

a {
    text-decoration: none;
}

.container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 20px 40px;
}
